
data/raw/*.fastq*
data/trimmed/*.fastq*
data/qc/*.fastq*
data/trimmed/logs/

references/*.fa.gz

logs/*

results/*.rds
results/plots/
MicrobiomeAnalyst_data/



.Rhistory
.RData
.Rproj.user/

.snakemake/


!data/trimmed/cutadapt_summary.tsv
!results/track.csv
!results/asv_tree.nwk
