
data/raw/*.fastq*
data/trimmed/*.fastq*
data/qc/*.fastq*
references/*.fa.gz


data/trimmed/logs/
results/*.rds
results/plots/
MicrobiomeAnalyst_data/


.Rhistory
.RData
.Rproj.user/


!data/trimmed/cutadapt_summary.tsv
!results/track.csv
!results/asv_tree.nwk
